.tree {
  background-color: #efefef;
  height: 100%;
  padding: 10px;
  font-family: monospace;
}

ol {
  counter-reset: item;
  padding-left: 2.5rem; /* the width of the &nbsp depends on the size of the font size, we can increase the font family size and the spacing will increment. */
}

.tree li {
  display: block;
  margin: 1rem 0;
}

.tree li p {
  display: inline;
}

.tree li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  display: inline-block;
  margin-right: 4px;
}
